<div class="home">
  <div class="header-mian-eav">
    <div class="layout-center-box">
      <span class="word">全国首家婚礼全流程优质服务商 丨 时尚 · 个性 · 品质 丨 省时 · 省心 · 省钱</span>
      <span class="num">400-015-9999</span>
    </div>
  </div>
  <div class="nav-main-box-eav layout-center-box">
    <div class="center-box-eav">
      <a href='/home'><img src="http://image.jsbn.com/logo.jpg@90q" class="logo" width='360' height='45' onerror="this.src='//placehold.it/360x45'" /></a>
      <div class="item-box" id='J_Nav'><%- reactNavMarkup %></div>
    </div>
  </div>
</div>
