<% if (mode === 'production') {%>
  <script language="javascript" src="http://chat16.live800.com/live800/chatClient/monitor.js?jid=6937519900&companyID=533854&configID=75803&codeType=custom"></script>
  <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1256096526' style='display:block;text-align:center;margin-bottom:20px;' %3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
      "s11.cnzz.com/z_stat.php%3Fid%3D1256096526%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script>
    /*百度统计*/
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?c9a00f6f9f733dcf913aabd48759361a";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })()
  </script>
  <%}%>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=pANA02VPcarYYYHHY5Ddux2Z"></script>
