<div class="main-rig-func-box" id="main_rig_func_box">
  <div class="disgin-box disgin-box-top transition-opacity">
    <i class="rect-js rect-4-js"></i>
  </div>
  <div class="func-box transition-height clearfix" id="func_box">
    <div class="pos-box">
      <div class="hover-box hover-first-box clearfix">
        <div class="pos-box">
          <span>统筹师</span>
          <i class="ico-16-js ico-16-1-js"></i>
        </div>
      </div>
      <div class="hover-box clearfix">
        <div class="pos-box">
          <span>咨询电话</span>
          <i class="ico-16-js ico-16-2-js"></i>
        </div>
      </div>
      <div class="hover-box clearfix">
        <div class="pos-box">
          <span>扫二维码</span>
          <i class="ico-16-js ico-16-3-js"></i>
        </div>
      </div>
      <div class="hover-box clearfix" id="pop_chat">
        <a href='http://chat16.live800.com/live800/chatClient/chatbox.jsp?companyID=533854&configID=75804&jid=6937519900&skillId=4927' target='_blank' class="pos-box">
          <span>在线咨询</span>
          <i class="ico-16-js ico-16-4-js"></i>
        </a>
      </div>
      <div class="hover-box clearfix" id='back_top'>
        <div class="pos-box">
          <span>回到顶部</span>
          <i class="ico-16-js ico-16-5-js"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="disgin-box transition-opacity" style='display:none;'>
    <i class="rect-js rect-1-js"></i>
    <i class="rect-js rect-2-js"></i>
    <i class="rect-js rect-3-js clearfix"></i>
  </div>
</div>
<div class="phone-window-pop-box transition-width" id="phone_window">
  <span>400 - 015 - 9999</span>
</div>
<div class="qr-code-box transition-width" id="qr_code_box">
  <img src="http://img2.jsbn.com/static/QR_Codes.jpg@1e_80w_80h_1c_0i_1o_90Q_1x" >
</div>
